<p id="notice"><%= notice %></p>

<h1>Listing Tags | Go to <%= link_to 'Posts', posts_path %></h1>

<table border="1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tag</th>
      <th>Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.id %></td>
        <td><%= tag.name %></td>
        <td><%= tag.posts.map {|k| k.title}.join(', ') %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
