<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Posts:</strong>
  <%= @tag.posts.map {|k| k.name}.join(', ') %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
